{% extends 'base.html' %}

{% block content %}
    <div class="container mx-auto mt-4">
        <h1 class="text-2xl font-semibold mb-4">Transaction Detail</h1>
        <p><strong>Name:</strong> {{ object.name }}</p>
        <p><strong>Time:</strong> {{ object.time }}</p>
        <p><strong>Amount:</strong> {{ object.amount }}</p>
        <p><strong>Status:</strong> {{ object.status }}</p>
        <p><strong>Customer:</strong> {{ object.customer }}</p>
        <a class="inline-block py-2 px-4 bg-blue-500 text-white rounded mt-4" href="{% url 'transaction:transaction_update' object.pk %}">Edit</a>
        <a class="inline-block py-2 px-4 bg-red-500 text-white rounded mt-4 ml-2" href="{% url 'transaction:transaction_delete' object.pk %}">Delete</a>
        <a class="inline-block py-2 px-4 bg-gray-300 text-gray-700 rounded mt-4 ml-2" href="{% url 'transaction:transaction_list' %}">Back to Transaction List</a>
    </div>
{% endblock %}
