{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-2xl font-semibold mb-4">Create ATM</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="{{ form.atm_location.id_for_label }}" class="block text-sm font-semibold mb-1">ATM Location:</label>
                <input type="text" id="{{ form.atm_location.id_for_label }}" name="{{ form.atm_location.name }}" placeholder="Enter ATM Location" class="px-4 py-2 w-full border rounded">
            </div>
            <div class="mb-4">
                <label for="{{ form.max_withdrawal.id_for_label }}" class="block text-sm font-semibold mb-1">Max Withdrawal:</label>
                <input type="text" id="{{ form.max_withdrawal.id_for_label }}" name="{{ form.max_withdrawal.name }}" placeholder="Enter Max Withdrawal" class="px-4 py-2 w-full border rounded">
            </div>
            <div class="mb-4">
                <label for="{{ form.notes.id_for_label }}" class="block text-sm font-semibold mb-1">Notes:</label>
                <textarea id="{{ form.notes.id_for_label }}" name="{{ form.notes.name }}" placeholder="Enter Notes" class="px-4 py-2 w-full border rounded"></textarea>
            </div>
            <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded">Create</button>
            <a class="px-4 py-2 bg-gray-300 text-gray-700 rounded ml-2" href="{% url 'atm:atm_list' %}">Cancel</a>
        </form>
    </div>
{% endblock %}
