{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-2xl font-semibold mb-4">ATM Detail</h1>
        <p><strong>ID:</strong> {{ object.id }}</p>
        <p><strong>ATM Location:</strong> {{ object.atm_location }}</p>
        <!-- Add more fields here as needed -->

        <a class="inline-block py-2 px-4 bg-gray-300 text-gray-700 rounded" href="{% url 'atm:atm_list' %}">Back to List</a>
        <a class="inline-block py-2 px-4 bg-yellow-500 text-white rounded ml-2" href="{% url 'atm:atm_update' object.pk %}">Edit</a>
        <a class="inline-block py-2 px-4 bg-red-500 text-white rounded ml-2" href="{% url 'atm:atm_delete' object.pk %}">Delete</a>
    </div>
{% endblock %}
